header {
    width: 100%;
    padding: 0 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    .logo {
        height: 50px;
        cursor: pointer;

    }

    h1 {
        color: $color-primary;
        font-size: 2.25em;
    }
}