/* 
    Styling for the lightbox section 

    This section handle the styling of the lightbox, which is hidden by default and displayed
    as a fixed overlay when activated.
*/
.lightbox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 85vh;
    max-height: 900px;
    background-color: white;
    padding: 20px;
    overflow: hidden;
    z-index: 101;

    /* Container for the media (image or video) displayed inside the lightbox */
    .lightbox__media-container {
        max-width: 100%;
        height: 75vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 20px;

        //  The media (image or video) displayed inside the media container 
        &__content {
            width: 100%;
            height: 90%;
            object-fit: contain;
            align-self: center;
        }

        h3 {
            color: $color-primary;
            font-size: 1.5em;
            align-self: flex-start;
            margin-top: 15px;
        }
    }


    /* Styles for the buttons used in the lightbox */
    &__btn {
        @include doNotLookLikeABtn;
        color: $color-primary;
        font-size: 3em;

        &:hover {
            color: $color-tertiary;
        }

        // Styling for positioning the close button
        &--close {
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px;
        }

        // Styling for positioning the navigation buttons
        &__nav {
            padding: 3em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &--prev {
                left: 0;
                padding-left: 1em;
            }

            &--next {
                right: 0;
                padding-right: 1em;
            }
        }
    }
}