@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  margin: 44px auto;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 400;
}

img {
  object-fit: cover;
  overflow-clip-margin: unset;
}

video {
  object-fit: cover;
}

.round {
  aspect-ratio: 1;
  border-radius: 50%;
}

body {
  font-family: "DM Sans", sans-serif;
}

.btn {
  font-size: 1.13em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #901C1C;
  width: 175px;
  height: 70px;
  padding: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn--contact:hover {
  color: #000000;
  background-color: #DB8876;
}
.btn--submit {
  margin-top: 26px;
}

.insertLikesAndPrice {
  position: fixed;
  bottom: 0;
  right: 0px;
  background-color: #DB8876;
  padding: 21px 34px;
  width: 376px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}
.insertLikesAndPrice span {
  font-size: 1.4em;
  font-weight: 700;
}

.order-medias {
  margin: 20px 100px;
}
.order-medias select {
  appearance: none;
  background-color: #901C1C;
  color: #FFFFFF;
  border: none;
  border-radius: 10%;
  padding: 1em;
  cursor: inherit;
  line-height: inherit;
}
.order-medias option {
  border-bottom: 5px solid #FFFFFF;
  padding: 0.5em;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
  padding: 8px;
}
.dropdown .dropdown-menu.show {
  display: block;
}
.dropdown .dropdown-menu .dropdown-item {
  display: block;
  margin: 8px 0;
  text-decoration: none;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .logo {
  height: 50px;
  cursor: pointer;
}
header h1 {
  color: #901C1C;
  font-size: 2.25em;
}

.photographer-section {
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 8em;
}
.photographer-section .photographer-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.photographer-section .photographer-card__pp {
  width: 60%;
}
.photographer-section .photographer-card h2 {
  width: 100%;
  color: #D3573C;
  font-size: 2.25em;
  font-weight: 400;
}
.photographer-section .photographer-card__localisation {
  color: #901C1C;
  font-size: 0.9em;
}
.photographer-section .photographer-card__tagline {
  font-size: 0.75em;
}
.photographer-section .photographer-card__price {
  color: #757575;
  font-size: 0.68em;
}

.photographer-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photographer-header h1 {
  color: #D3573C;
  font-size: 4em;
}
.photographer-header p {
  padding: 0.45em 0;
}
.photographer-header__localisation {
  color: #901C1C;
  font-size: 1.5em;
}
.photographer-header__tagline {
  color: #525252;
  font-size: 1.13em;
}
.photographer-header__pp {
  height: 80%;
}

.medias-section {
  margin: 60px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 95px;
}
.medias-section .media-card__media {
  width: 100%;
  height: 300px;
}
.medias-section .media-card__description {
  color: #901C1C;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}
.medias-section .media-card__description__title {
  width: 70%;
}
.medias-section .media-card__description__likes {
  font-weight: 500;
}

.modal-section {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(117, 117, 117, 0.3);
}
.modal-section__contact {
  border-radius: 5px;
  background-color: #DB8876;
  width: 45%;
  padding: 35px;
  margin: 5% auto;
}
.modal-section__contact__header {
  padding: 0;
  width: 100%;
  height: 166px;
}
.modal-section__contact__header h2 {
  font-size: 4em;
  height: fit-content;
}
.modal-section__contact__header img {
  cursor: pointer;
  align-self: flex-start;
}
.modal-section__contact form {
  width: 100%;
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal-section__contact form label {
  color: #312E2E;
  font-size: 2.25em;
}
.modal-section__contact form input,
.modal-section__contact form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 2.25em;
}
.modal-section__contact form input {
  height: 68px;
  margin-bottom: 10px;
}
.modal-section__contact form textarea {
  height: 170px;
}

.show {
  display: block;
}

/*# sourceMappingURL=style.css.map */
