@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  margin: 44px auto;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 400;
}

img {
  object-fit: cover;
  overflow-clip-margin: unset;
}

video {
  object-fit: cover;
}

.round {
  aspect-ratio: 1;
  border-radius: 50%;
}

button {
  cursor: pointer;
}

body {
  font-family: "DM Sans", sans-serif;
}
.btn {
  font-size: 1.13em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #901C1C;
  width: 175px;
  height: 70px;
  padding: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn--hover {
  position: relative;
  z-index: 1;
}
.btn--hover:hover {
  color: #000000;
}
.btn--hover:hover::after {
  opacity: 1;
}
.btn--hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  background-color: #DB8876;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: #DB8876;
  border: none;
  border-radius: 5px;
}
.btn--submit {
  margin-top: 26px;
}

.btn-likes {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #FFFFFF;
  color: #901C1C;
  border: none;
}
.btn-likes.liked {
  color: #D3573C;
}

.btn-close {
  border: none;
  background-color: transparent;
  align-self: flex-start;
}

.insertLikesAndPrice {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0px;
  background-color: #DB8876;
  padding: 21px 34px;
  width: 376px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}
.insertLikesAndPrice span {
  font-size: 1.4em;
  font-weight: 700;
}

.mediaListbox {
  margin: 20px 100px 40px 100px;
  display: inline-flex;
  gap: 15px;
  align-items: baseline;
  font-size: 1.13em;
  font-weight: 700;
}
.mediaListbox .listbox__btn {
  height: 61px;
}
.mediaListbox .listbox__list {
  display: none;
  list-style: none;
  width: 175px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  background-color: #901C1C;
  padding: 0 0.7em;
  position: absolute;
  z-index: 2;
}
.mediaListbox .listbox__item {
  height: 61px;
  font-size: 1.13em;
  font-weight: inherit;
  letter-spacing: 2px;
  background-color: #901C1C;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  padding: 1em;
  cursor: inherit;
  position: relative;
  z-index: 1;
}
.mediaListbox .listbox__item:hover {
  color: #000000;
}
.mediaListbox .listbox__item:hover::after {
  opacity: 1;
}
.mediaListbox .listbox__item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  background-color: #DB8876;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.mediaListbox .listbox__item[aria-selected=true] {
  display: none;
}
.mediaListbox.show {
  display: inline-flex;
}
.mediaListbox.show .listbox__btn {
  border-radius: 5px 5px 0 0;
}
.mediaListbox.show .listbox__list {
  display: block;
}

header {
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .logo {
  height: 50px;
  cursor: pointer;
}
header h1 {
  color: #901C1C;
  font-size: 2.25em;
}

.modal-section {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(117, 117, 117, 0.3);
}

#lightbox-btn {
  margin: 0 auto;
}

.lightbox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}
.lightbox__media-container {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.lightbox__media-container__content {
  max-width: 80%;
  max-height: 900px;
  object-fit: contain;
  align-self: center;
}
.lightbox__media-container h3 {
  color: #901C1C;
  font-size: 1.5em;
  align-self: flex-start;
  margin-left: 10%;
  margin-top: 15px;
}
.lightbox__close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.lightbox__nav {
  text-align: center;
}
.lightbox__nav__prev, .lightbox__nav__next {
  margin-right: 20px;
}

.photographer-section {
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 8em;
}
.photographer-section .photographer-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.photographer-section .photographer-card__pp {
  width: 60%;
}
.photographer-section .photographer-card h2 {
  width: 100%;
  color: #D3573C;
  font-size: 2.25em;
  font-weight: 400;
}
.photographer-section .photographer-card__localisation {
  color: #901C1C;
  font-size: 0.9em;
}
.photographer-section .photographer-card__tagline {
  font-size: 0.75em;
}
.photographer-section .photographer-card__price {
  color: #757575;
  font-size: 0.68em;
}

.photographer-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photographer-header h1 {
  color: #D3573C;
  font-size: 4em;
}
.photographer-header p {
  padding: 0.45em 0;
}
.photographer-header__localisation {
  color: #901C1C;
  font-size: 1.5em;
}
.photographer-header__tagline {
  color: #525252;
  font-size: 1.13em;
}
.photographer-header__pp {
  height: 80%;
}

.medias-section {
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 95px;
  position: relative;
  z-index: 1;
}
.medias-section .media-card__media {
  width: 100%;
  height: 300px;
  cursor: pointer;
}
.medias-section .media-card__description {
  color: #901C1C;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}
.medias-section .media-card__description__title {
  width: 70%;
}

.contact {
  display: none;
  border-radius: 5px;
  background-color: #DB8876;
  width: 45%;
  padding: 35px;
  margin: 5% auto;
}
.contact__header {
  padding: 0;
  width: 100%;
  height: 166px;
}
.contact__header__photographer {
  font-size: 4em;
  height: fit-content;
}
.contact form {
  width: 100%;
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact form .formData {
  width: 100%;
  margin-bottom: 12px;
}
.contact form .formData label {
  color: #312E2E;
  font-size: 2.25em;
}
.contact form .formData input,
.contact form .formData textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 2.25em;
}
.contact form .formData input {
  height: 68px;
  margin-bottom: 10px;
}
.contact form .formData textarea {
  height: 170px;
}
.contact form .formData[data-error]::after {
  content: attr(data-error);
  font-size: 1.5em;
  color: #FFFFFF;
  display: block;
  margin: 2px 0 17px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.contact form .formData[data-error-visible=true]::after {
  opacity: 1;
}
.contact form .formData[data-error-visible=true] input {
  border: 2x solid #e54858;
}

.active {
  display: block;
}

/*# sourceMappingURL=style.css.map */
