/* Importing variables and mixins from utility files */
/* Base styles */
@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  margin: 44px auto;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 400;
}

img {
  object-fit: cover;
  overflow-clip-margin: unset;
}

video {
  object-fit: cover;
}

.round {
  aspect-ratio: 1;
  border-radius: 50%;
}

button {
  cursor: pointer;
}

/* Add focus styles for keyboard navigation with an outline and box shadow */
.key-navigation :focus {
  outline: 4px solid yellowgreen;
  box-shadow: 0 0 10px #54800D;
}
.key-navigation :focus .listbox__list__item__txt {
  border: 2px solid yellowgreen;
}

/* Font Import */
body {
  font-family: "DM Sans", sans-serif;
}

/* Component styles */
/* Styling for the buttons */
/* Generic styles for buttons used throughout the application */
.btn {
  font-size: 1.13em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #901C1C;
  width: 175px;
  height: 70px;
  padding: 18px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  /* Hover styles for the button */
}
.btn--hover {
  position: relative;
  z-index: 1;
}
.btn--hover:hover {
  color: #000000;
}
.btn--hover:hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  background-color: #DB8876;
  width: 100%;
  height: 100%;
}
.btn--hover:hover::after {
  opacity: 1;
}

/* 
    Class for screen reader only elements 

    This class hides the element from normal view and makes it accessible to screen readers 
    by positioning it absolutely and using a clipping technique. 
    It is  used for accessibility purposes to provide descriptive content that is only read by screen readers 
    and not visible to sighted users. 
*/
.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Styling for displaying like count and photographer's price */
.insertLikesAndPrice {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0px;
  background-color: #DB8876;
  padding: 21px 34px;
  width: 376px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}
.insertLikesAndPrice p {
  font-size: 1.4em;
  font-weight: 700;
}

/* Styling for the media listbox section */
.mediaListbox {
  margin: 20px 100px 40px 100px;
  display: inline-flex;
  gap: 15px;
  align-items: baseline;
  font-size: 1.13em;
  font-weight: 700;
  /* Styling for the listbox container */
  /* Styling for the media listbox when it's shown (opened) */
}
.mediaListbox .listbox {
  /* 
   Styling for the listbox button

   The button styles are managed in the "button.scss" file
   This block applies styles to the listbox button which includes text and an icon
  */
  /* Styling for the listbox options container */
  /* Styling for each listbox item */
}
.mediaListbox .listbox__btn {
  height: 61px;
  text-align: left;
  display: flex;
  align-items: center;
}
.mediaListbox .listbox__btn .chevron-down {
  position: absolute;
  right: 0;
  margin-right: 10px;
  transition: transform 250ms ease-in-out;
}
.mediaListbox .listbox__btn .chevron-down.rotated {
  transform: rotate(180deg);
}
.mediaListbox .listbox__list {
  display: none;
  list-style: none;
  width: 175px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  background-color: #901C1C;
  position: absolute;
  z-index: 2;
}
.mediaListbox .listbox__item {
  height: 61px;
  background-color: transparent;
  cursor: inherit;
  position: relative;
  z-index: 1;
  /* For no displaying the selected listbox item */
}
.mediaListbox .listbox__item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  background-color: #DB8876;
  width: 100%;
  height: 100%;
}
.mediaListbox .listbox__item__txt {
  padding-left: 18px;
  line-height: 61px;
  font-size: 1.13em;
  font-weight: 600;
  color: #FFFFFF;
}
.mediaListbox .listbox__item .separator {
  width: 85%;
  height: 1px;
  background-color: #FFFFFF;
  margin: 0 auto;
}
.mediaListbox .listbox__item:hover::after, .mediaListbox .listbox__item:focus::after {
  opacity: 1;
}
.mediaListbox .listbox__item:hover .listbox__item__txt, .mediaListbox .listbox__item:focus .listbox__item__txt {
  color: #000000;
}
.mediaListbox .listbox__item[aria-selected=true] {
  display: none;
}
.mediaListbox.show {
  display: inline-flex;
}
.mediaListbox.show .listbox__btn {
  border-radius: 5px 5px 0 0;
}
.mediaListbox.show .listbox__list {
  display: block;
}

/* Layout styles */
/* Styling for the header */
header {
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .logo {
  height: 50px;
  cursor: pointer;
}
header h1 {
  color: #901C1C;
  font-size: 2.25em;
}

/* Styling for the modal */
.modal-section {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(117, 117, 117, 0.3);
}

/* 
    Styling for the lightbox section 

    This section handle the styling of the lightbox, which is hidden by default and displayed
    as a fixed overlay when activated.
*/
.lightbox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 85vh;
  max-height: 900px;
  background-color: white;
  padding: 20px;
  overflow: hidden;
  z-index: 101;
  /* Container for the media (image or video) displayed inside the lightbox */
  /* Styles for the buttons used in the lightbox */
}
.lightbox .lightbox__media-container {
  max-width: 100%;
  height: 75vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
}
.lightbox .lightbox__media-container__content {
  width: 100%;
  height: 90%;
  object-fit: contain;
  align-self: center;
}
.lightbox .lightbox__media-container h3 {
  color: #901C1C;
  font-size: 1.5em;
  align-self: flex-start;
  margin-top: 15px;
}
.lightbox__btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #FFFFFF;
  color: #901C1C;
  border: none;
  color: #901C1C;
  font-size: 3em;
}
.lightbox__btn:hover {
  color: #DB8876;
}
.lightbox__btn--close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}
.lightbox__btn__nav {
  padding: 3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.lightbox__btn__nav--prev {
  left: 0;
  padding-left: 1em;
}
.lightbox__btn__nav--next {
  right: 0;
  padding-right: 1em;
}

/* Page-specific styles */
/* Styling for the photographer section in index.html */
.photographer-section {
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 8em;
  /* Styling for each photographer card inside the photographer section */
}
.photographer-section .photographer-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.photographer-section .photographer-card__pp {
  width: 60%;
}
.photographer-section .photographer-card h2 {
  width: 100%;
  color: #D3573C;
  font-size: 2.25em;
  font-weight: 400;
}
.photographer-section .photographer-card__localisation {
  color: #901C1C;
  font-size: 0.9em;
}
.photographer-section .photographer-card__tagline {
  font-size: 0.75em;
}
.photographer-section .photographer-card__price {
  color: #525252;
  font-size: 0.68em;
}

/* Styling for the photographer header section in photographer.html */
.photographer-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photographer-header__description h1 {
  color: #D3573C;
  font-size: 4em;
}
.photographer-header__description div > p {
  padding: 0.45em 0;
}
.photographer-header__description__localisation {
  color: #901C1C;
  font-size: 1.5em;
}
.photographer-header__description__tagline {
  color: #757575;
  font-size: 1.13em;
}
.photographer-header__pp {
  height: 80%;
}

/* Styling for the medias section */
.medias-section {
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 95px;
  position: relative;
  z-index: 1;
  /* Styling for each media card inside the medias section */
}
.medias-section .media-card__content {
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.medias-section .media-card__content__media {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 350ms ease-in-out;
}
.medias-section .media-card__content__media:hover {
  transform: scale(1.2);
}
.medias-section .media-card__description {
  color: #901C1C;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.medias-section .media-card__description__title {
  width: 70%;
}
.medias-section .media-card__description .btn-likes {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #FFFFFF;
  color: #901C1C;
  border: none;
}
.medias-section .media-card__description .btn-likes:hover, .medias-section .media-card__description .btn-likes.liked {
  color: #D3573C;
}
.medias-section .media-card__description .btn-likes:hover {
  color: #D3573C;
  font-weight: 600;
}

/*
    Styling for the contact section

    This section handles the styling of the contact form, which is hidden by default and displayed as a 
    fixed overlay when activated. 
*/
.contact {
  display: none;
  border-radius: 5px;
  background-color: #DB8876;
  width: 45%;
  height: auto;
  height: 80vh;
  overflow-y: auto;
  padding: 35px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  /* Styling for the form */
}
.contact__header {
  padding: 0;
  width: 100%;
  height: 166px;
}
.contact__header__photographer {
  font-size: 4em;
  height: fit-content;
}
.contact form {
  width: 100%;
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* 
      Styling for the submit button

      The button styles are managed in the "button.scss" file
      Additional styles for the submit button
  */
}
.contact form .formData {
  width: 100%;
  margin-bottom: 12px;
  /* Styling for the errors messages */
}
.contact form .formData label {
  color: #312E2E;
  font-size: 2.25em;
}
.contact form .formData input,
.contact form .formData textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 2.25em;
}
.contact form .formData input {
  height: 68px;
  margin-bottom: 10px;
}
.contact form .formData textarea {
  height: 170px;
}
.contact form .formData[data-error]::after {
  content: attr(data-error);
  font-size: 1.5em;
  color: #000000;
  display: block;
  margin: 6px 0 17px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.contact form .formData[data-error-visible=true]::after {
  opacity: 1;
}
.contact form .formData[data-error-visible=true] input {
  margin-top: 3px;
  border: 3px solid #23321A;
  outline: 3px solid #FFFFFF;
}
.contact form .form-feedback {
  font-size: 1.7em;
  color: #000000;
}
.contact form .btn--submit {
  margin-top: 26px;
}
.contact__btn-close {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #FFFFFF;
  color: #901C1C;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 40px;
  right: 40px;
}

.active {
  display: block;
}

/*# sourceMappingURL=style.css.map */
