/* 
    Class for screen reader only elements 
    
    This class hides the element from normal view and makes it accessible to screen readers 
    by positioning it absolutely and using a clipping technique. 
    It is  used for accessibility purposes to provide descriptive content that is only read by screen readers 
    and not visible to sighted users. 
*/
.sr-only {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}