/* Styling for the buttons */

/* Generic styles for buttons used throughout the application */
.btn {
    font-size: 1.13em;
    font-weight: 600;
    letter-spacing: 1px;
    color: $white;
    background-color: $color-primary;

    width: 175px;
    height: 70px;

    padding: 18px;

    border: none;
    border-radius: $border-radius-btn;
    overflow: hidden;

    cursor: pointer;


    /* Hover styles for the button */
    &--hover {
        position: relative;
        z-index: 1;

        &:hover {
            color: $black;

            &::after {
                @include afterDefault;
            }
        }

        &:hover {

            &::after {
                opacity: 1;
            }
        }
    }   
}