.btn {
    font-size: 1.13em;
    font-weight: 600;
    letter-spacing: 1px;
    color: $white;
    background-color: $color-primary;

    
    width: 175px;
    height: 70px;

    padding: 18px;
    
    border: none;
    border-radius: 5px;

    cursor: pointer;

    &:hover {
        color: $black;
        background-color: $color-tertiary;
    }
}