.btn {
    font-size: 1.13em;
    font-weight: 600;
    letter-spacing: 1px;
    color: $white;
    background-color: $color-primary;


    width: 175px;
    height: 70px;

    padding: 18px;

    border: none;
    border-radius: $border-radius-btn;

    cursor: pointer;

    &--hover {
        position: relative;
        z-index: 1;

        &:hover {
            color: $black;

            &::after {
                opacity: 1;
            }
        }

        &::after {
            @include hoverEffect;
            background-color: $color-tertiary;
            border: none;
            border-radius: $border-radius-btn;
        }
    }

    &--submit {
        margin-top: 26px;
    }
}

.btn-likes {
    font-family: $police;
    font-weight: 500;
    font-size: 1em;
    background-color: $white;
    color: $color-primary;
    border: none;

    &.liked {
        color: $color-secondary;
    }
}

.btn-close {
    border: none;
    background-color: transparent;
    align-self: flex-start;
}