.btn {
    font-size: 1.13em;
    font-weight: 600;
    background-color: $color-primary;


    width: 175px;
    height: 70px;

    padding: 18px;

    border: none;
    border-radius: $border-radius-btn;

    cursor: pointer;

    &--hover {
        position: relative;
        z-index: 1;
    
        &::after {
            
            @include afterDefaultBtn;
            border: none;
            border-radius: $border-radius-btn;
        }
    
        &__text {
            position: relative;
            z-index: 1;
            background-color: $white;
            background-clip: padding-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    
            &::after {
                @include afterDefaultBtn($black);
                background-clip: padding-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                z-index: 45;
            }
        }
    
        &:hover {
            &::after,
            .btn--hover__text::after {
                opacity: 1;
            }
        }    
    }

    
    &--submit {
        margin-top: 26px;
        color: $white
    }
}

.btn-likes {
    @include doNotLookLikeABtn;

    &:hover, 
    &.liked {
        color: $color-secondary;
    }

    &:hover {
        color: $color-secondary;
        font-weight: 600;
    }
}

.contact__btn-close {
    @include doNotLookLikeABtn;

    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 40px;
}
