.mediaListbox {
  margin: $distance-header-listbox 100px $distance-listbox-medias 100px;

  display: inline-flex;
  gap: 15px;
  align-items: baseline;

  font-size: 1.13em;
  font-weight: 700;

  .listbox {
    &__btn {
      height: 61px;
      text-align: left;
      display: flex;
      align-items: center;

      .chevron-down {
        background-color: $white;
        background-clip: padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        position: absolute;
        right: 0;
        margin-right: 10px;
        transition: transform 250ms ease-in-out;

        &.rotated {
          transform: rotate(180deg);
        }

        &::after {
          @include afterDefaultBtn($black);
          content: "\f078";
          z-index: 15;
          background-clip: padding-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &:hover {
        .chevron-down::after {
          opacity: 1;
        }
      }
    }

    &__list {
      display: none;
      list-style: none;
      width: 175px;
      border-radius: 0 0 $border-radius-btn $border-radius-btn;
      overflow: hidden;
      background-color: $color-primary;

      position: absolute;
      z-index: 2;
    }

    &__item {
      height: 61px;
      background-color: $color-primary;

      cursor: inherit;

      position: relative;
      z-index: 1;

      &__txt {
        padding-left: 18px;
        line-height: 61px;
        font-size: 1.13em;
        font-weight: 600;
        background-color: $white;
        background-clip: padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


        &::after {
          @include afterDefaultBtn($black);
          background-clip: padding-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          z-index: 45;
          padding-left: 18px;
          top: 1px;
        }
      }

      .separator {
        width: 85%;
        height: 1px;
        background-color: $white;
        margin: 0 auto;
      }

      &:hover,
      &:focus {
        &::after {
          opacity: 1;
        }

        .listbox__item__txt::after {
          opacity: 1;
        }
      }

      &::after {
        @include afterDefaultBtn;
        outline: 1px solid transparent;
      
      }

      &[aria-selected="true"] {
        display: none;
      }
    }
  }

  &.show {
    display: inline-flex;

    .listbox {
      &__btn {
        border-radius: $border-radius-btn $border-radius-btn 0 0;
      }

      &__list {
        display: block;
      }
    }
  }
}