.mediaListbox {
  margin: $distance-header-listbox 100px $distance-listbox-medias 100px;

  display: inline-flex;
  gap: 15px;
  align-items: baseline;

  font-size: 1.13em;
  font-weight: 700;

  .listbox {
    &__btn {
      height: 61px;
    }

    &__list {
      display: none;
      list-style: none;
      width: 175px;
      border-radius: 0 0 $border-radius-btn $border-radius-btn;
      overflow: hidden;
      background-color: $color-primary;
      padding: 0 0.7em;

      position: absolute;
      z-index: 2;
    }

    &__item {
      height: 61px;

      font-size: 1.13em;
      font-weight: inherit;
      letter-spacing: 2px;

      background-color: $color-primary;
      color: $white;
      border-top: 1px solid $white;

      padding: 1em;
      cursor: inherit;

      position: relative;
      z-index: 1;

      &:hover {
        color: $black;

        &::after {
          opacity: 1;
        }
      }

      &::after {
        @include hoverEffect;
      }

      &[aria-selected="true"] {
        display: none;
      }
    }
  }

  &.show {
    display: inline-flex;

    .listbox {
      &__btn {
        border-radius: $border-radius-btn $border-radius-btn 0 0;
      }

      &__list {
        display: block;
      }
    }
  }
}