/* Styling for the media listbox section */
.mediaListbox {
  margin: $distance-header-listbox 100px $distance-listbox-medias 100px;

  display: inline-flex;
  gap: 15px;
  align-items: baseline;

  font-size: 1.13em;
  font-weight: 700;

  /* Styling for the listbox container */
  .listbox {

    /* 
     Styling for the listbox button
     
     The button styles are managed in the "button.scss" file
     This block applies styles to the listbox button which includes text and an icon
    */
    &__btn {
      height: 61px;
      text-align: left;
      display: flex;
      align-items: center;

      .chevron-down {
        position: absolute;
        right: 0;
        margin-right: 10px;
        transition: transform 250ms ease-in-out;

        // Styling for the rotated chevron (when listbox is open)
        &.rotated {
          transform: rotate(180deg);
        }
      }

    }

    /* Styling for the listbox options container */
    &__list {
      display: none;
      list-style: none;
      width: 175px;
      border-radius: 0 0 $border-radius-btn $border-radius-btn;
      overflow: hidden;
      background-color: $color-primary;

      position: absolute;
      z-index: 2;
    }

    /* Styling for each listbox item */
    &__item {
      height: 61px;
      background-color: transparent;

      cursor: inherit;

      position: relative;
      z-index: 1;

      &::after {
        @include afterDefault;
      }

      // Styling for the text inside each listbox item
      &__txt {
        padding-left: 18px;
        line-height: 61px;
        font-size: 1.13em;
        font-weight: 600;
        color: $white;
      }

      // Styling for the separator line between listbox items
      .separator {
        width: 85%;
        height: 1px;
        background-color: $white;
        margin: 0 auto;
      }

      &:hover,
      &:focus {
        &::after {
          opacity: 1;
        }

        .listbox__item__txt {
          color: $black;
        }
      }

      /* For no displaying the selected listbox item */
      &[aria-selected="true"] {
        display: none;
      }
    }
  }

  /* Styling for the media listbox when it's shown (opened) */
  &.show {
    display: inline-flex;

    .listbox {
      &__btn {
        border-radius: $border-radius-btn $border-radius-btn 0 0;
      }

      &__list {
        display: block;
      }
    }
  }
}