.order-medias {
    margin: 20px 100px;

    select {
        appearance: none;

        background-color: $color-primary;
        color: $white;
        border: none;
        border-radius: 10%;
        padding: 1em;
        cursor: inherit;
        line-height: inherit;
        // créer object spécifique et mettre border-top 
        // border-bottom sur Date avec class middle
    }

    option {
        border-bottom: 5px solid $white;
        padding: 0.5em;
    }
}

// Définition de la classe parente
.dropdown {
  position: relative;

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
    padding: 8px;

    &.show {
      display: block;
    }

    .dropdown-item {
      display: block;
      margin: 8px 0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}