*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 margin: 0 auto;
}

.container {
  max-width: 1600px;
  margin: 44px auto;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 400;
}

img {
  object-fit: cover;
  overflow-clip-margin: unset;
}

video {
  object-fit: cover;
}

.round {
  aspect-ratio: 1;
  border-radius: 50%;
}