.contact {
    display: none;
    border-radius: 5px;
    background-color: $color-tertiary;
    width: 45%;
    padding: 35px;
    margin: 5% auto;

    &__header {
        padding: 0;
        width: 100%;
        height: 166px;

        &__photographer {
            font-size: 4em;
            height: fit-content;
        }
    }

    form {
        width: 100%;
        margin-top: 19px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .formData {
            width: 100%;
            margin-bottom: 12px;

            label {
                color: $color-form;
                font-size: 2.25em;
            }
    
            input,
            textarea {
                width: 100%;
                border: none;
                border-radius: 5px;
                font-size: 2.25em;
            }
    
            input {
                height: 68px;
                margin-bottom: 10px;
            }
    
            textarea {
                height: 170px;
            }

            &[data-error]::after {
                content: attr(data-error);
                font-size: 1.5em;
                color: $white;
                display: block;
                margin: 2px 0 17px;
                text-align: left;
                line-height: 0.3;
                opacity: 0;
                transition: 0.3s;
              }
              
             &[data-error-visible="true"]::after {
                opacity: 1;
              }
              
              &[data-error-visible="true"] input {
                border: 2x solid #e54858;
              }
        }
    }
}

.active {
    display: block;
}