/* Styling for the medias section */
.medias-section {
    margin: 0 100px;

    // Use grid layout for the media cards, 3 medias by row
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 95px;
    position: relative;

    z-index: 1;

    /* Styling for each media card inside the medias section */
    .media-card {

        &__content {
            overflow: hidden;
            width: 100%;
            height: 300px;
            

            // Styling for the media inside the media card
            .media {
                width: 100%;
                height: 100%;
                cursor: pointer;
                transition: transform 350ms ease-in-out;

                // Create a zoom effect on hover
                &:hover {
                    transform: scale(1.2);
                }
            }

            &__wrapper {
                position: relative;
                display: inline-block;
                cursor: pointer;
                width: 100%;
                height: 100%;
                            
            
                // Adding a background overlay on hover
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(117, 117, 117, 0.5); // Grayed background
                    opacity: 0;
                    transition: opacity 0.25s ease;
                    z-index: 1; // Make sure it's below the icon but above the video
                }
            
                // Styling for the play icon
                .fa-play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 3rem; // Size of the icon
                    color: $color-photographer-header;
                    opacity: 0;
                    transition: opacity 0.25s ease;
                    z-index: 2; // Make sure it's above the background overlay
                }
            
                // Show the overlay and play icon on hover
                &:hover::before {
                    opacity: 1;
                }
            
                &:hover .fa-play {
                    opacity: 1;
                }

                &:hover .media {
                    transform: scale(1.2);
                }
            }
            
        }

        // Styling for the description section inside the media card
        &__description {
            color: $color-primary;
            font-size: 1.5em;

            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &__title {
                width: 70%;
            }

            // Styling for the likes button used for liking media 
            .btn-likes {
                @include doNotLookLikeABtn;

                &:hover,
                &.liked {
                    color: $color-secondary;
                }

                &:hover {
                    color: $color-secondary;
                    font-weight: 600;
                }
            }
        }
    }
}