.medias-section {
    margin: 0 100px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 95px;
    position: relative;

    z-index: 1;

    .media-card {

        &__media {
            width: 100%;
            height: 300px;
            cursor: pointer;
        }

        &__description {
            color: $color-primary;
            font-size: 1.5em;

            display: flex;
            justify-content: space-between;

            &__title {
                width: 70%;
            }
        }
    }
}