.medias-section {
    margin: 60px 100px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 95px;

    .media-card {

        &__media {
            width: 100%;
            height: 300px;
        }

        &__description {
            color: $color-primary;
            font-size: 1.5em;

            display: flex;
            justify-content: space-between;

            &__title {
                width: 70%;   
            }

            &__likes {
                font-weight: 500;
            }
        }
    }
}