.photograph-header {
    display: flex;
    justify-content: space-around;

    &__pp {
        object-fit: cover;
       height: 80%;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow-clip-margin: unset;
    }
}