$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-tertiary: #DB8876;
$color-quaternary: #525252;
$color-senary: #757575;

$white: #FFFFFF;
$black: #000000;

$color-photographer-header: #FAFAFA;
$color-form: #312E2E;

